/*font-family: 'Molengo', sans-serif;
font-family: 'Raleway', sans-serif;
*/
.carousel-title {
    font-family: 'Molengo', sans-serif;
    
}

.card-title {
    margin-top: 20px;
    color: #617A55;
    font-family: 'Molengo', sans-serif;
}