/*font-family: 'Molengo', sans-serif;
font-family: 'Raleway', sans-serif;
*/
.carousel-title {
    font-family: 'Molengo', sans-serif;
    
}

#cardCategory{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}
.card-title {
    margin-top: 20px;
    color: #617A55;
    font-family: 'Molengo', sans-serif;
}


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}

#button-addon{
background-color: #617A55;
}
