.modal-body {
  margin: 30px 0px 30px 0px;
  display: grid;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px; /* Espacio entre las tarjetas de producto */
  width: 100%;
}

/*Propiedades de la card*/
.product-card {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px; /* Ancho máximo para cada tarjeta de producto */
}

/*Imagen del producto*/
.product-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: all .5s;
}

/*Recuadro de la imagen*/
.product-card figure{
  overflow: hidden;
}
/*Animacion de la imagen*/
.product-image:hover{
  transform: scale(1.2);
}
/*Contenedor de la info del producto*/
.product-details {
  text-align: center;
  flex:1
}

.product-details h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.product-details ul {
  list-style: none;
  padding: 0;
}

.product-details ul li {
  margin-bottom: 5px;
}

.cssbuttons-io {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    border: none;
    overflow: hidden;
  }

  .cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
  }

  .cssbuttons-io::before,
  .cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .cssbuttons-io::before {
    content: "";
    background: #A4D0A4;
    color: white;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  }

  .cssbuttons-io:hover {
    background: #617461;
    color: white;
}

  .cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
  }

  .cssbuttons-io:active {
    transform: scale(0.95);
  }

  
  #titleCarrito, #modalTitle, #pagoModaTitle{
    font-family: 'Molengo', sans-serif;
    text-align: center;
  }

 
 /*BORDE DE LA TARJETA DEL FORMULARIO*/
.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #A4D0A4;
  box-sizing: border-box;
  border-color: #A4D0A4 !important;
  box-shadow: none !important;
  border-radius: 20px !important;
}
.form-control:focus{
border-color: black !important;
box-shadow: none !important;
border-radius: 20px !important;
}

form {
  gap: 10px;
  font-family: 'Raleway', sans-serif;
}

.alert-text{
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  color: red;
}


#deleteButton {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  background-color: #f8d7da ;
  border-color: #f8d7da;
  color: #dc3545;
  overflow: hidden;
}

.iconos{
  color: #617461;
}

/* Personalización de la tarjeta */
.carrito-card { 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px; /* Ajusta el relleno según tus preferencias */
  text-align: center;
}

/* Personalización de la imagen */
.carrito-image {
  width: 50px; /* Establece un ancho fijo en píxeles para hacer que las imágenes sean más pequeñas */
  max-width: 100%; /* Hace que la imagen sea responsiva */
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.5s;
}

.cuponText{
  font-family: 'Raleway', sans-serif;
  color: #617461;
  cursor: pointer;
}

