body {
    background-color: #f0f0f0;
}

.titlesContact{
    font-family: 'Molengo', sans-serif;
    text-align: center;
    padding-top: 10px;
}

.container{
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

#shopCard{
    flex-grow: 1;
    flex-basis: 200;
    background-color: #A4D0A4;
    border: 1px solid #617A55;
    border-radius: 20px;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* #generalShop{
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

#shopContainer{
    background-color:#A4D0A4;
    box-shadow: 0px 0px 10px 0px rgba(221, 12, 12, 0.1);
    text-align: center;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
} */

#jShop, #sdShop, #uhShop{
    border-radius: 20px;

}

.card-img{
    height: 200px;
    width: 200px;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 15px; */
    /* object-fit: cover; */
    padding: 10px;

}

.inputContact {
    display: flex;
    justify-content: center;
}

.tarjeta {
    background-color:#ffffff;
    box-shadow: 0px 0px 10px 0px rgba(221, 12, 12, 0.1);
    padding: 10px;
    border: 1px solid #617A55;
    border-radius: 20px;
    margin: 10px;
    width: 65%;
    display: inline-block;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #A4D0A4;
    border-radius: 20px;
    box-sizing: border-box;
}

#buttonShop{
    width: 100%;
    padding: 8px;
    border: 1px solid #A4D0A4;
    border-radius: 20px;
    box-sizing: border-box;
}

button {
    background-color: #A4D0A4;
    color: rgb(0, 0, 0);
    border: 1px solid #617A55;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    border-radius: 20px;
    background-color: #617A55;
}
