/*SE LE DA COLOR AL BODY DE LA PÁGINA*/
body {
    background-color: white;
}

/*SE DA FORMATO A LA LETRA DE LOS TITULOS*/
.titlesContact {
    font-family: 'Molengo', sans-serif;
    text-align: center;
    padding-top: 10px;
}

/*SE DA FORMATO A LAS LETRA CONTENIDA EN LAS TARJETAS*/
.container {
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
}

/*FORMATO DE TRES TARJETAS*/
#shopCard {
    flex-grow: 1;
    flex-basis: 200;
    background-color: #A4D0A4;
    border: 1px solid #617A55;
    border-radius: 20px;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* #generalShop{
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

#shopContainer{
    background-color:#A4D0A4;
    box-shadow: 0px 0px 10px 0px rgba(221, 12, 12, 0.1);
    text-align: center;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
} */

/*SE REDONDEAN LAS IMAGENES DENTRO DE LAS TARJETAS*/
#jShop,
#sdShop,
#uhShop {
    border-radius: 20px;

}

/*IMAGENES CONTENIDAS EN LAS TARJETAS*/
.card-img {
    height: 200px;
    width: 200px;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 15px; */
    /* object-fit: cover; */
    padding: 10px;

}

/*CUERPO DEL FORMULARIO*/
.inputContact {
    display: flex;
    justify-content: center;
}

/*FORMATO GENERAL DE LA TARJETA DEL FORMULARIO*/
.tarjeta {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(221, 12, 12, 0.1);
    padding: 10px;
    border: 1px solid #617A55;
    border-radius: 20px;
    margin: 10px;
    width: 65%;
    display: inline-block;
    text-align: left;
}

/*APARTADOS-RENGLONES DEL FORMULARIO*/
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*LETRA UTILIZADA EN EL FORMULARIO*/
label {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

/*BORDE DE LA TARJETA DEL FORMULARIO*/
input,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #A4D0A4;
    border-radius: 20px;
    box-sizing: border-box;
}

/*CAJAS DEL FORMULARIO*/

.botonesContact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

/*BOTON PARA ENVIAR LA INFORMACIÓN*/
/*BOTON DEL FORMULARIO*/
.cssbuttons-io {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    border: none;
    overflow: hidden;
  }

  .cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
  }

  .cssbuttons-io::before,
  .cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .cssbuttons-io::before {
    content: "";
    background: #A4D0A4;
    color: white;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  }

  .cssbuttons-io:hover {
    background: #617461;
    color: white;
}

  .cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
  }

  .cssbuttons-io:active {
    transform: scale(0.95);
  }

/*WARNINGS MOSTRADOS AL USUARIO CUANDO INGRESA INFORMACIÓN*/

.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: #617A55;
    padding-top: 20px;
}

#linkContact{
    text-align: center;
    /* justify-content: center; */
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}
