
#backgroundCards {  /*Tarjetas*/
    background: #A4D0A4;
    backdrop-filter: blur(20px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
}

.logoMictlanes { /*Logo los Mictlanes*/
    margin: 20px;
    mix-blend-mode: color-burn;
    mix-blend-mode: color white;
}

.parrafoAboutUS { /*Parrafo Info los Mictlanes*/
    text-align: justify;
    font-family: 'Raleway', sans-serif;
}

.DeveloperImg { /*Imagenes*/
    width: 150px;
    height: 180px;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    box-shadow: 0 0 15px #fff;
}

.card-title { /*Cuerpo de tarjeta e info de Desarrolladores: titulos o nombres*/
    font-family: 'Raleway', sans-serif;
}

.card-text { /*Cuerpo de tarjeta e info de Desarrolladores:  Informacion*/
    font-family: 'Raleway', sans-serif;
    text-align: justify;
}

.card-body { /*Cuerpo de tarjeta e info de Desarrolladores*/
    margin-top: 20px;
    margin-bottom: 10px;
}


.bi{ /*ICONOS de LINKEDIN y GIT HUB*/
    color: rgb(0, 0, 0);
    font-size: 2rem;
    margin-left: 20px;
    margin-right: 20px;
}
.bi:hover{ /*ICONOS de LINKEDIN y GIT HUB*/
    text-shadow: 0 0 15px #fff;
}

