body {
    background: grey;
  }

#backgroundCards {
    background: #F7E1AE;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(20px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
}

.logoMictlanes {
    margin: 20px;
    mix-blend-mode: color-burn;
}

.parrafoAboutUS {
    font-weight: bold;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
}

.iconsContact {
    width: 30px;
    margin-right: 20px;
    margin-left: 20px
}

.DeveloperImg {
    width: 150px;
    height: 180px;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.card-title {
    font-family: 'Molengo', sans-serif;
}

.card-text {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
}

.card-body {
    margin-top: 20px;
    margin-bottom: 10px;
}


.bi{
    color: rgb(0, 0, 0);
    font-size: 2rem;
    margin-left: 20px;
    margin-right: 20px;
}