#idLosMictlanes{
    background-color: #332c1c;
}
.iconsContact{
    width: 10%;
    object-fit: contain;
    margin-right: 20px;
}
#LinkedIn{
    width: 8.5%;
    object-fit: contain;
    margin-left: 20px;
}