.container{
    margin-top: 60px;
    font-family: 'Raleway', sans-serif; 
}

h1{
    font-family: 'Molengo', sans-serif;
}

.ropa{
  height: 250px;
  width:auto ;
  border-radius: 10px;
  margin: 10px;
}

#card-back{
  background-color: #a4d0a4;
}

/* Estilos del Boton */

.cssbuttons-io {
    position: relative;
    font-family: 'Raleway', sans-serif; 
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    border: none;
    background: #617a55;
    color: black;
    overflow: hidden;
  }
  
  .cssbuttons-io:hover {
    color: white; /* Cambiamos el color del texto a blanco al hacer hover */
  }

  .cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
  }
  
  .cssbuttons-io::before,
  .cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  .cssbuttons-io::before {
    content: "";
    background: #a4d0a4;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  }
  
  .cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
  }
  
  .cssbuttons-io:active {
    transform: scale(0.95);
  }
  