footer{
    left: 0px;
    width: 100vw;
    background-color: #617a55;
    font-family: 'Raleway', sans-serif; 

}

.container-fluid a{
    text-decoration: none;
    font-size: .8rem;
}

.title{
    font-size: 1rem;
}

.LogoEmpresa{
    height: 50px;
    width: auto;
    margin-left: 15px;
}