/*Propiedad pra todo la página*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Tipo de letra para etiquetas*/
h1 h2{
    font-family: 'Molengo', sans-serif;
}

h3 h4 h5 h6 p {
    font-family: 'Raleway', sans-serif;
}
/*Contenedoroes para la parte inferior del carrusel*/
.wrap{
    max-width: 1400px;
    width: 90%;
    margin: auto;
}

.store-wrapper{
    display: flex;
}
/*Responsive contenedor para la parte inferior del carrusel*/
@media(max-width:1000px) {
    .store-wrapper{
        display: grid;
        
    }
}

/*Contenedor de los filtros de busqueda*/
.category_list{
    display: flex;
    flex-direction: column;
    width: 18%;
    margin-top: 40px;
    margin-right: 20px;
}
/*Responsive de las tarjetas de productos*/
@media screen and (max-width: 1000px){
	.articles-container .product-card{
		width: 90%;
	}
    .articles-container{
        margin: 20px;
    }
    .product-details{
        width: 100%;
    }
    #buttonCart{
        font-size: 10px;
    }
}


    


/*Responsive contenedores de los filtros*/
@media screen and (max-width:1000px) {
    .category_list{
        width: 65%;
        flex-direction: column;
    }
    .category_items{
      justify-content: center;  
    }

    .category_list .category_items{
		align-self: flex-start;
		width: 100%;
		font-size: 14px;
        margin-bottom: 10px;
	}
    .articles-container .product-card{
		margin-left: 4.5%;
	}
}

/*Seccion de los cuadros de busqueda (filtros)*/
.category_items{
    display: block;
    width: 90%;
    padding: 15px 0;
    margin-bottom: 20px;
    background: #A4d0A4;
    cursor: pointer;

    text-decoration: none;
    text-align: center;
    color: #fff;
}

/*Clases para las secciones del filtro afectadas por js*/
.filtro-section-1, .filtro-section-2, .filtro-section-3, .filtro-section-4, .filtro-section-5, .filtro-section-6, .filtro-section-7 {
    display: none;
  }

  .visible {
    display: block;
    text-align: left;
  }



label{
    font-weight: 500;
    color: #333;
    cursor: pointer;
}
#check1:checked, #check2:checked, #check3:checked, #check4:checked, #check5:checked, #check6:checked, #check7:checked, #check8:checked, #check9:checked, #check10:checked, #check11:checked, #check12:checked, #check13:checked {
    accent-color: #a4d0a4;
}
#check1:checked ~ label, #check2:checked ~ label, #check3:checked ~ label, #check4:checked ~ label, #check5:checked ~ label, #check6:checked ~ label,#check7:checked ~ label, #check8:checked ~ label, #check9:checked ~ label, #check10:checked ~ label, #check11:checked ~ label,#check12:checked ~ label, #check13:checked ~ label{
    color: #a4d0a4;
} 


/* Seccion de cards*/
/*Division del contenedor para las 2 tarjetas por renglón*/
.articles-container{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 82%;
}
/*Propiedades de la card*/
.product-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Imagen del producto*/
.product-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: all .5s;

}
/*Recuadro de la imagen*/
.product-card figure{
    overflow: hidden;
}
/*Animacion de la imagen*/
.product-image:hover{
    transform: scale(1.2);
}
/*Contenedor de la info del producto*/
.product-details {
    flex:1
}

.product-details h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-details ul {
    list-style: none;
    padding: 0;
}

.product-details ul li {
    margin-bottom: 5px;
}

/*Sección del boton del artículo*/
.boton{
    display: flex;
    justify-content: center;
}
.cssbuttons-io {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    border: none;
    overflow: hidden;
  }

  .cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.2em 0.3em 0.2em 0.2625em; /* Valores aún más pequeños */
}

  .cssbuttons-io::before,
  .cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .cssbuttons-io::before {
    content: "";
    background: #A4D0A4;
    color: white;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  }

  .cssbuttons-io:hover {
    background: #617461;
    color: white;
}

  .cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
  }

  .cssbuttons-io:active {
    transform: scale(0.95);
  }

