

.container {
    max-width: 800px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    
}

.tarjetaTerminos{
    background-color: #f3f0f0;
    box-shadow: 0 0 20px #A4D0A4;
}

.tituloTerminos {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Molengo', sans-serif;
}

.listaTerminos h2 {
    font-size:15px;
    margin-top: 20px;
    font-family: 'Raleway', sans-serif; 
}

.listaTerminos ul {
    list-style-type: disc;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif; 
}

.listaTerminos ul li {
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif; 
}


